@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Noto+Serif+Japanese&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto&display=swap';
h1,
h2,
h3,
h4 {
  font-family: "Noto Serif JP", serif;
  font-weight: bold;
  color: #795252;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

.btn {
  background: #795252;
  color: #fcfcfc;
  padding: 1rem 10rem;
}

.bg-wave {
  transform: translateY(5px);
}
.bg-wave path {
  fill: #795252;
}

.bg-wave-down svg {
  transform: translateY(-5px) rotate(180deg);
}
.bg-wave-down svg path {
  fill: #795252;
}

.scrollama {
  opacity: 0;
}

.scrollama.active {
  opacity: 1;
  transition: 0.8s linear all;
}

#products .scrollama.active {
  animation: pulse 0.15s ease-in-out forwards;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e2d6cc;
  font-family: "Roboto", "Noto Sans JP", "Noto Serif JP", sans-serif;
  font-size: 1.6rem;
  color: #262626;
}

.topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  align-items: center;
  background: #795252;
  height: 8vh;
  padding: 0 1rem;
}
.topbar h1 {
  display: inline-block;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #fcfcfc;
  line-height: 8vh;
}
.topbar .logo img {
  width: 100px;
  height: auto;
  max-height: 100px;
  max-width: 100px;
}

/**************************************************
Scroll
**************************************************/
.scrolldown {
  position: absolute;
  left: 50%;
}

.scrolldown span {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: #795252;
  font-size: 1.3rem;
  letter-spacing: 0.05em;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.scrolldown:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #795252;
  animation: circlemove 1.6s ease-in-out infinite, cirlemovehide 1.6s ease-out infinite;
}

@keyframes circlemove {
  0% {
    bottom: 90px;
  }
  100% {
    bottom: -5px;
  }
}
@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
.scrolldown:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 100px;
  background: #795252;
}

/**************************************************
Header
**************************************************/
.main-visual {
  width: 100vw;
  min-height: 1000px;
  background: url("../img/mv_pc.png") no-repeat center top/cover;
  transform: translateY(-2px);
}

.text-box {
  display: block;
  color: #262626;
  text-align: center;
}
.text-box h2 {
  display: inline;
  font-weight: bold;
  font-size: 112px;
  color: #795252;
  writing-mode: vertical-rl;
  transform: translateY(80%);
}
.text-box h2:nth-of-type(1) {
  color: #fcfcfc;
}
.text-box h2:nth-of-type(2) {
  transform: translate(10% 80%);
}

#intro {
  display: block;
  padding-top: 10rem;
  min-height: 800px;
  position: relative;
}
#intro::before {
  content: url("../img/intro-bg1.png");
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5%;
  left: -5%;
}
#intro::after {
  content: url("../img/intro-bg2.png");
  width: 100%;
  height: 100%;
  position: absolute;
  top: 65%;
  right: -75%;
}
#intro .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}
#intro .card {
  width: 100%;
  max-width: 500px;
  padding: 2.5rem;
  transform: translateX(-10%);
}
#intro .card h3 {
  padding: 0;
  margin-bottom: 1rem;
  font-size: 4rem;
}
#intro .card:nth-of-type(1) {
  background: #9d9191;
  position: relative;
}
#intro .card:nth-of-type(1) img {
  position: absolute;
  bottom: -38%;
  left: -25%;
  max-width: 180px;
  max-height: 180px;
  z-index: 3;
}
#intro .card:nth-of-type(2) {
  position: absolute;
  top: 95%;
  right: 10%;
  background: #795252;
  color: #fcfcfc;
}
#intro .card:nth-of-type(2) h3 {
  color: #fcfcfc;
}
#intro .card:nth-of-type(2) img {
  position: absolute;
  bottom: -25%;
  right: -10%;
  max-width: 180px;
  max-height: 180px;
}
#intro .card p {
  line-height: 1.5;
}

#products {
  display: block;
  background: #795252;
  position: relative;
  min-height: 1400px;
  text-align: center;
}
#products h2 {
  color: #fcfcfc;
  height: 100px;
  position: relative;
  display: inline-block;
}
#products h2::after, #products h2::before {
  content: url("../img/rabbit_icon.svg");
  width: 13%;
  position: absolute;
  top: 0;
  left: -20%;
  transform: translateY(8px);
}
#products h2::after {
  left: unset;
  right: -20%;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1) translateY(8px);
}
#products .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  max-width: 1100px;
  margin: 0 auto;
  transform: translateY(50px);
}
#products .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 350px;
  background: #e2d6cc;
  border-radius: 12px;
  padding: 2rem;
}
#products .card > p {
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
  font-size: 2rem;
  color: #795252;
}
#products .card p:last-of-type {
  margin: 1rem;
}
#products .card img {
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 1rem;
  object-fit: cover;
}
#products .card:first-of-type {
  grid-area: top;
  grid-row: 1;
  grid-column: 2;
  justify-self: center;
  transform: translateY(50%);
  position: relative;
}
#products .card:first-of-type::before {
  content: url("./img/first-rank.png");
  position: absolute;
  top: -120px;
  right: -80px;
  transform: scale(0.8);
}
#products .card:nth-of-type(2) {
  grid-area: right;
  grid-row: 2;
  grid-column: 3;
  justify-self: start;
  transform: translateX(-20%);
}
#products .card:nth-of-type(3) {
  grid-area: down;
  grid-row: 3;
  grid-column: 2;
  justify-self: center;
  transform: translateY(-50%);
}
#products .card:last-of-type {
  grid-area: left;
  grid-row: 2;
  grid-column: 1;
  justify-self: end;
  transform: translateX(20%);
}
#products .card a {
  display: block;
  background-color: #9d9191;
  color: #fcfcfc;
  border-radius: 4px;
  padding: 1rem 2rem;
  position: relative;
  margin: 1rem;
}
#products .btn {
  display: block;
  background-image: linear-gradient(180deg, #adadad 0%, #ad8383 100%);
  border-radius: 12px;
  padding: 2rem 6rem;
  color: #fcfcfc;
  width: 50%;
  margin: 3rem auto;
  transform: translateY(100%);
  cursor: pointer;
  transition: all 0.3s ease;
}
#products .btn:hover {
  transform: scale(1.1) translateY(100%);
}

#faq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1100px;
  font-size: 2rem;
  margin: 0 auto;
}
#faq h2 {
  text-align: center;
  margin: 4rem 0;
}
#faq .faq-container {
  max-width: 500px;
  width: 100%;
}
#faq details {
  margin-bottom: 2rem;
}
#faq summary {
  cursor: pointer;
  color: #795252;
}
#faq details[open] p {
  padding: 3rem;
}

#contact {
  display: block;
  background-color: #795252;
  padding: 2rem 0;
  position: relative;
}
#contact::before {
  content: url("../img/form-bg1.png");
  width: 80%;
  height: 80%;
  position: absolute;
  top: -20%;
  left: -5%;
  z-index: 2;
}
#contact::after {
  content: url("../img/form-bg2.png");
  width: 80%;
  height: 80%;
  position: absolute;
  top: 25%;
  right: -55%;
  z-index: -1;
}
#contact h2 {
  text-align: center;
  color: #fcfcfc;
  margin: 2rem 0;
}
#contact form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  max-width: 600px;
  padding: 2rem;
  margin: 2rem auto;
}
#contact form p {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#contact form p label {
  flex: 1;
  color: #fcfcfc;
}
#contact form p input {
  flex: 3;
  font-size: 1rem;
}
#contact form p input[placeholder] {
  font-size: 1.5rem;
}
#contact form input,
#contact form textarea {
  width: 100%;
  background-color: #fcfcfc;
  padding: 0.5rem 1rem;
}
#contact form textarea {
  form-sizing: content;
  height: 300px;
}
#contact form .btn {
  background: #9d9191;
  width: 100%;
  text-align: center;
}
#contact form .btn:active {
  transform: scale(0.99);
}
#contact .bg-wave-down {
  position: static;
  transform: translateY(0) rotate(180deg);
}

.footer-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-brand img {
  margin: 0 auto;
  max-width: 150px;
  max-height: 150px;
  margin: 4rem;
}
.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 0;
  margin: 0 auto;
  justify-items: center;
}
.footer-content p span {
  margin-right: 1rem;
}

@media screen and (max-width: 700px) {
  .main-visual {
    background: url("../img/mv_sp.png") no-repeat top/cover;
    transform: translateY(-2px);
    width: 100%;
  }
  #intro {
    min-height: 800px;
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding: 2rem;
  }
  #intro::before, #intro::after {
    all: unset;
  }
  #intro .cards {
    margin-top: 4rem;
  }
  #intro .card {
    display: block;
    position: static;
    margin-bottom: 3rem;
    text-align: center;
    transform: none;
  }
  #intro .card h3 {
    margin: 2rem 0;
  }
  #intro .card h3,
  #intro .card p {
    text-align: left;
  }
  #intro .card:nth-of-type(1) img {
    position: unset;
    width: 100%;
  }
  #intro .card:nth-of-type(2) {
    position: static;
  }
  #intro .card:nth-of-type(2) img {
    position: static;
    width: 100%;
  }
  #products {
    min-height: 1850px;
  }
  #products h2 {
    font-size: 3rem;
    margin-top: 6rem;
  }
  #products h2::before {
    top: -80%;
    left: 35%;
    width: 80px;
    transform: translateY(0);
  }
  #products h2::after {
    all: unset;
  }
  #products .cards {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    transform: translateY(5%);
  }
  #products .cards .card {
    transform: none;
  }
  #products .cards .card::before {
    transform: scale(0.7);
  }
  #products .btn {
    width: 80%;
  }
  #faq .faq-container {
    padding: 0 2rem;
  }
  #contact::before, #contact::after {
    all: unset;
  }
  .footer .footer-content {
    text-align: center;
    display: block;
  }
  .footer p {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 1250px) and (min-width: 701px) {
  #intro::before, #intro::after {
    all: unset;
  }
  #products h2::before, #products h2::after {
    transform: translateY(-10%);
  }
  #products h2::after {
    transform: scaleX(-1);
  }
  #contact::before, #contact::after {
    display: none;
  }
}